$color-pack: true;
$body-font-family: 'Quicksand', sans-serif;
$font-size-root: 18px;
$line-height-root: 1.5;
$border-radius-root: 6px;

$spacer: 8px;

$grid-breakpoints: (
  'xs': 0,
  'sm': 600px,
  'md': 960px,
  'lg': 1280px - 16px,
  'xl': 1920px - 16px
);

$grid-gutter: $spacer * 6;
$form-grid-gutter: $spacer * 2;
$grid-columns: 12;

$container-padding-x: $grid-gutter / 2;

$grid-gutters: (
  'xs': $grid-gutter / 12,
  'sm': $grid-gutter / 6,
  'md': $grid-gutter / 3,
  'lg': $grid-gutter * 2/3,
  'xl': $grid-gutter
);

$container-max-widths: (
  'md': map-get($grid-breakpoints, 'md') * 0.9375,
  'lg': map-get($grid-breakpoints, 'lg') * 0.9375,
  'xl': map-get($grid-breakpoints, 'xl') * 0.9375
);

$display-breakpoints: (
  'print-only': 'only print',
  'screen-only': 'only screen',
  'xs-only': 'only screen and (max-width: #{map-get($grid-breakpoints, 'sm') - 1})',
  'sm-only': 'only screen and (min-width: #{map-get($grid-breakpoints, 'sm')}) and (max-width: #{map-get($grid-breakpoints, 'md') - 1})',
  'sm-and-down': 'only screen and (max-width: #{map-get($grid-breakpoints, 'md') - 1})',
  'sm-and-up': 'only screen and (min-width: #{map-get($grid-breakpoints, 'sm')})',
  'md-only': 'only screen and (min-width: #{map-get($grid-breakpoints, 'md')}) and (max-width: #{map-get($grid-breakpoints, 'lg') - 1})',
  'md-and-down': 'only screen and (max-width: #{map-get($grid-breakpoints, 'lg') - 1})',
  'md-and-up': 'only screen and (min-width: #{map-get($grid-breakpoints, 'md')})',
  'lg-only': 'only screen and (min-width: #{map-get($grid-breakpoints, 'lg')}) and (max-width: #{map-get($grid-breakpoints, 'xl') - 1})',
  'lg-and-down': 'only screen and (max-width: #{map-get($grid-breakpoints, 'xl') - 1})',
  'lg-and-up': 'only screen and (min-width: #{map-get($grid-breakpoints, 'lg')})',
  'xl-only': 'only screen and (min-width: #{map-get($grid-breakpoints, 'xl')})'
);

$font-weights: (
  'thin': 300,
  'light': 400,
  'regular': 500,
  'medium': 500,
  'bold': 600,
  'black': 700
);

$heading-font-family: $body-font-family;
$blockquote-font-size: 18px;
$blockquote-font-weight: 500;
$code-color: #bd4147;
$code-kbd-border-radius: 3px;
$code-kbd-font-size: 85%;
$code-kbd-font-weight: 700;
$input-top-spacing: 16px;
$text-field-active-label-height: 12px;

// BUTTONS
$btn-font-weight: 700;
$btn-text-transform: none;
$btn-font-size: 1.2rem;
$btn-letter-spacing: normal;
$btn-sizes: (
  'x-small': 20,
  'small': 28,
  'default': 36,
  'large': 44,
  'x-large': 56
);
